@import "../styl/main.styl"

.btn
  padding-top    size-m
  padding-bottom size-m
  padding-left   size-xl
  padding-right  size-xl
  margin-left    50%
  transform      translateX(-50%)
  border-radius  size-s
  transition     ease 0.5s
  font-weight    bold
  font-size      font-s

  &.white
    background color-white