@import "../styl/main.styl"

.difficulty-badge
  display        inline-block
  padding-left   size-m
  padding-right  size-m
  padding-top    size-xs
  padding-bottom size-xs
  margin-left    50%
  transform      translateX(-50%)
  color          color-white
  font-size      font-s
  font-weight    900
  text-transform uppercase
  border-radius  size-s

  &.red
    background color-pink

  &.yellow
    background color-yellow

  &.green
    background color-green