@import url("https://fonts.googleapis.com/css?family=Raleway:600,700,900&display=swap")
@import "./vars"

*
  box-sizing  border-box !important
  margin      0
  padding     0
  font-family font-raleway
  outline    none

html, body
  background-color color-dark