font-raleway = 'Raleway', sans-serif

color-dark   = #0F0F1D
color-pink   = #DE727D
color-yellow = #FFCD1B
color-green  = #24ECB3
color-blue   = #0C86FF
color-white  = #FFFFFF
color-orange = #FF7800

size-xxs = 2px
size-xs  = 5px
size-s   = 10px
size-m   = 15px
size-l   = 20px
size-xl  = 25px
size-xxl = 30px

font-s   = 16px
font-xl  = 48px

box-shadow-s-blue = #0c86ff70 0px 0px size-s size-s